<!-- footer area start -->
<footer class="rs-footer-area rs-footer-one primary-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6"></div>
    </div>
  </div>
  <div class="rs-footer-copyright-area rs-copyright-one">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div class="rs-footer-copyright text-center">
            <p>
              © <span id="year"></span> Designed by
              <a href="#">Jaruwat Amnuaysat</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->
