 <!-- experience area start -->
    <section class="rs-experience-area section-space rs-experience-one primary-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="rs-section-title-wrapper section-title-space text-center">
                        <span class="rs-section-subtitle">
                    <img src="assets/images/shape/small-arrow.png" alt="image">ประสบการณ์การทำงาน
                    </span>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-xl-6 col-lg-6">
                    <div class="rs-experience-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="rs-experience-item">
                            <div class="rs-experience-top">
                                <div class="rs-experience-designation-wrapper">
                                    <span class="rs-circle-shape"></span>
                                    <h5 class="rs-experience-designation">WebMaster</h5>
                                </div>
                                <span class="rs-experience-meta">
                            เมษายน 2567 - ณ ปัจจุบัน
                        </span>
                            </div>
                            <div class="rs-experience-bottom">
                                <div class="rs-experience-brand-thumb">
                                    <img class="has-white" src="assets/images/brand/stherb.png" alt="image">
                                </div>
                                <div class="rs-experience-content">
                                    <h6 class="rs-experience-place">บริษัท เซนต์เฮิร์บ คอสเมติกส์ อินเตอร์เนชั่นแนล จำกัด</h6>
                                    <div class="rs-experience-description">
                                        <div class="rs-faq-content accordion-style-two">
                                            <div class="accordion-wrapper">
                                                <div class="accordion" id="accordionExampleOne">
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapswordpress" aria-expanded="true" aria-controls="collapsetourn">
                                                                รับผิดชอบการดูแลและพัฒนาเว็บไซต์ของบริษัท
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapswordpress" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">Wordpress</span></p>

                                                                    <p>รายละเอียด : </p>
                                                                    <div class="rs-postbox-details-feature">
                                                                        <ul>
                                                                            <li>ดูแลและตรวจสอบการทำงานของเว็บไซต์ให้มีความเสถียรและปลอดภัย</li>
                                                                            <li>ติดตามและวิเคราะห์ปริมาณการเข้าชม (Traffic) พร้อมประเมินสถานการณ์</li>
                                                                            <li>พัฒนาและปรับปรุง SEO เพื่อเพิ่มอันดับการค้นหาและการมองเห็นของเว็บไซต์</li>
                                                                            <li>ปรับปรุงและพัฒนาเว็บไซต์ให้มีความน่าเชื่อถือ ทันสมัย และตอบโจทย์ผู้ใช้งาน</li>
                                                                            <li>จัดทำและดูแลระบบสำรองข้อมูล (Backup) ของเว็บไซต์ที่รับผิดชอบ</li>
                                                                        </ul>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h6 class="accordion-header" id="headingFive_cpanel">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecpanel" aria-expanded="false" aria-controls="collapseserver">
                                                                ประสานงานและดูแล Server
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h6>
                                                        <div id="collapsecpanel" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">Cpanel</span> </p>
                                                                <p>รายละเอียด: </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>แก้ไขเบื้องต้นเมื่อปัญหา และคอยดูความเสถียรของ Server</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ที่ล่าสุด -->
                <div class="col-xl-6 col-lg-6">
                    <div class="rs-experience-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="rs-experience-item">
                            <div class="rs-experience-top">
                                <div class="rs-experience-designation-wrapper">
                                    <span class="rs-circle-shape"></span>
                                    <h5 class="rs-experience-designation">Programmer</h5>
                                </div>
                                <span class="rs-experience-meta">
                            มกราคม 2567 - พฤศจิกายน 2567
                        </span>
                            </div>
                            <div class="rs-experience-bottom">
                                <div class="rs-experience-brand-thumb">
                                    <img class="has-white" src="assets/images/brand/CM.jpg" alt="image">
                                </div>
                                <div class="rs-experience-content">
                                    <h6 class="rs-experience-place">บริษัท คลาวด์เมท จำกัด</h6>
                                    <div class="rs-experience-description">
                                        <div class="rs-faq-content accordion-style-two">
                                            <div class="accordion-wrapper">
                                                <div class="accordion" id="accordionExampleOne">
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetourn" aria-expanded="true" aria-controls="collapsetourn">
                                                                เว็บไซต์จัดการทัวร์และการจองทัวร์
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsetourn" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">AJAX</span> 
                                                                    <span class="badge bg-primary">PostgreSQL</span> <span class="badge bg-primary">HTML</span> 
                                                                    <span class="badge bg-primary">CSS</span> <span class="badge bg-primary">GitHub</span></p>

                                                                    <p>รายละเอียด : </p>
                                                                    <div class="rs-postbox-details-feature">
                                                                        <ul>
                                                                            <li>แพลตฟอร์มสำหรับจัดการทัวร์และการจองทัวร์</li>
                                                                        </ul>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h6 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMM" aria-expanded="false" aria-controls="collapseMM">
                                                                เว็บไซต์วางแผนและเบิกจ่ายพัสดุ
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h6>
                                                        <div id="collapseMM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">AJAX</span> 
                                                                    <span class="badge bg-primary">PostgreSQL</span> <span class="badge bg-primary">HTML</span> 
                                                                    <span class="badge bg-primary">CSS</span> <span class="badge bg-primary">GitHub</span> <span class="badge bg-primary">Bootstrap</span></p>
                                                                <p>รายละเอียด:
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>วางแผนการเบิกพัสดุสิ่งพิมพ์</li>
                                                                        <li>จัดการการเบิกจ่ายตามแผนของไตรมาส</li>
                                                                        <li>การอนุมัติแผนตามลำดับขั้น</li>
                                                                        <li>การจัดการวันที่เริ่มต้นและสิ้นสุดของแต่ละไตรมาส</li>
                                                                        <li>ส่งออกข้อมูลเป็น Excel</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h6 class="accordion-header" id="headingThree">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGN" aria-expanded="false" aria-controls="collapseGN">
                                                                ระบบเชื่อมโยงข้อมูลและการจัดการไฟล์
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h6>
                                                        <div id="collapseGN" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">ORACEL</span> </p>
                                                                <p>รายละเอียด: </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>ดึงข้อมูลจากระบบภายนอกเข้าสู่ฐานข้อมูลหรือสร้างไฟล์ .txt สำหรับ SAP</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h6 class="accordion-header" id="headingFour">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseencript" aria-expanded="false" aria-controls="collapseencript">
                                                                การเข้ารหัสข้อมูลสำหรับระบบธนาคาร
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h6>
                                                        <div id="collapseencript" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">Python</span></p>
                                                                <p>รายละเอียด: </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>สร้างไฟล์ .txt จาก SAP และเข้ารหัสตามข้อกำหนดของธนาคารก่อนส่งผ่าน sFTP</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h6 class="accordion-header" id="headingFive">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseserver" aria-expanded="false" aria-controls="collapseserver">
                                                                ประสานงานและดูแล Server
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h6>
                                                        <div id="collapseserver" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">WINDOW SERVER</span> </p>
                                                                <p>รายละเอียด: </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>แก้ไขเบื้องต้นเมื่อปัญหา และคอยดูความเสถียรของ Server</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ที่สอง -->
                <div class="col-xl-6 col-lg-6">
                    <div class="rs-experience-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="rs-experience-item">
                            <div class="rs-experience-top">
                                <div class="rs-experience-designation-wrapper">
                                    <span class="rs-circle-shape"></span>
                                    <h5 class="rs-experience-designation">Full Stack Developer</h5>
                                </div>
                                <span class="rs-experience-meta">
                            กรกฏาคม 2563 - ตุลาคม 2566
                        </span>
                            </div>
                            <div class="rs-experience-bottom">
                                <div class="rs-experience-brand-thumb">
                                    <img class="has-white" src="assets/images/brand/logo.png" alt="image">
                                </div>
                                <div class="rs-experience-content">
                                    <h6 class="rs-experience-place">บริษัท เนเจอร์ไบโอเทค จำกัด</h6>
                                    <div class="rs-experience-description">
                                        <div class="rs-faq-content accordion-style-two">
                                            <div class="accordion-wrapper">
                                                <div class="accordion" id="accordionExampleTwo">
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingSaved">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsHT" aria-expanded="true" aria-controls="collapsHT">
                                                                เว็บไซต์ Healthy Together
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsHT" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">AJAX</span> 
                                                                    <span class="badge bg-primary">PhpAdmin</span> <span class="badge bg-primary">HTML</span> 
                                                                    <span class="badge bg-primary">CSS</span> <span class="badge bg-primary">Bootstrap</span></p>
                                                                    <p>รายละเอียด : </p>
                                                                    <div class="rs-postbox-details-feature">
                                                                        <ul>
                                                                            <li>จัดทำระบบหน้าสำหรับแลกของและลงทะเบียนของลูกค้า</li>
                                                                            <li>หลังบ้านสำหรับจัดการข้อมูล</li>
                                                                            <li>จัดการข้อมูลลูกค้า</li>
                                                                            <li>จัดการสิทธิ์ประโยชน์</li>
                                                                            <li>ประวัติการแลกของรางวัล</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingedgiths">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsqr" aria-expanded="true" aria-controls="collapsqr">
                                                                Generate QR Code
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsqr" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">Library QR Code</span></p>
                                                                <p>รายละเอียด : </p>
                                                                <div class=" rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>จัดทำตามที่ได้รับมอบหมาย</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingednight">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapscleanedge" aria-expanded="true" aria-controls="collapscleanedge">
                                                                ฟอร์ม สำหรับลงทะเบียนขึ้นสินค้า Clean Edge
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapscleanedge" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">Library QR Code</span> <span class="badge bg-primary">Google Form</span></p>
                                                                <p>รายละเอียด : </p> 
                                                                <div class=" rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>ฟอร์มลงทะเบียนสินค้า,ฟอร์มลงทะเบียนเคลมสินค้า</li>
                                                                        <li>Generate QR Code เฉพาะ รหัสสินค้าแต่ละตัว</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingedten">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsten" aria-expanded="true" aria-controls="collapsten">
                                                                สร้างเว็บไซต์ตามที่ได้รับมอบหมาย
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsten" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">Wordpress</span></p>
                                                                <p>รายละเอียด : </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>ออกแบบเว็บไซต์</li>
                                                                        <li>จดทะเบียนโดเมน</li>
                                                                        <li>ดูแลความปลอดภัยของเว็บไซต์</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingedelvenl">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsevele" aria-expanded="true" aria-controls="collapsevele">
                                                                รายงาน
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsevele" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PYTHON</span> <span class="badge bg-primary">PANDA</span> </p>
                                                                <p>รายละเอียด : </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>นำข้อมูล Raw data มา Data Cleansing</li>
                                                                        <li>เพื่อสำหรับทำรายงาน โดย Pandas ในการจัดทำรายงาน เช่น รายงานวันเกิดลูกค้า รายงานครบรอบการซื้อ</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingtwel">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapstwelen" aria-expanded="true" aria-controls="collapstwelen">
                                                                Dashboard
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapstwelen" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">Google Sheets</span> <span class="badge bg-primary">Looker Studio</span> </p>
                                                                <p>รายละเอียด: </p>
                                                                <div class="rs-postbox-details-feature">
                                                                    <ul>
                                                                        <li>จัดรายการตามที่กำหนด</li>
                                                                        <li>เรียบเรียงข้อมูลและทำการต่อจากระบบอื่นเข้ามาในระบบ</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ที่หนึ่ง -->
                <div class="col-xl-6 col-lg-6">
                    <div class="rs-experience-wrapper wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="rs-experience-item">
                            <div class="rs-experience-top">
                                <div class="rs-experience-designation-wrapper">
                                    <span class="rs-circle-shape"></span>
                                    <h5 class="rs-experience-designation">นักศึกษาฝึกงาน</h5>
                                </div>
                                <span class="rs-experience-meta">
                            มิถุนายน 2562 - ตุลาคม 2562
                        </span>
                            </div>
                            <div class="rs-experience-bottom">
                                <div class="rs-experience-brand-thumb">
                                    <img class="has-white" src="assets/images/brand/logo_1d5afc22d5.png" alt="image">
                                </div>
                                <div class="rs-experience-content">
                                    <h6 class="rs-experience-place">บริษัท อำพันเทคโนโลยี จำกัด</h6>
                                    <div class="rs-experience-description">
                                        <div class="rs-faq-content accordion-style-two">
                                            <div class="accordion-wrapper">
                                                <div class="accordion" id="accordionExampleThere">
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-header" id="headingSaved">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsDD" aria-expanded="true" aria-controls="collapsDD">
                                                                เว็บไซต์ Dsipaly โรงแรม แสดงสถานะ
                                                                <span class="accordion-btn"></span>
                                                            </button>
                                                        </h4>
                                                        <div id="collapsDD" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleThere">
                                                            <div class="accordion-body">
                                                                <p>เทคโนโลยีที่ใช้: <span class="badge bg-primary">PHP</span> <span class="badge bg-primary">AJAX</span> 
                                                                    <span class="badge bg-primary">PhpAdmin</span> <span class="badge bg-primary">HTML</span> 
                                                                    <span class="badge bg-primary">CSS</span> <span class="badge bg-primary">Bootstrap</span></p>
                                                                    <p>รายละเอียด : </p>
                                                                        <div class="rs-postbox-details-feature">
                                                                            <ul>
                                                                                <li>แสดงสถานะห้องที่ใช้งาน</li>
                                                                                <li>จัดเก็บการใช้ไฟฟ้าในแต่ละห้อง</li>
                                                                            </ul>
                                                                        </div>
                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ที่ฝึกงาน -->
            </div>
        </div>
    </section>
<!-- experience area end -->