<!-- skill area start -->

<section class="rs-skill-area rs-skill-three section-space">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6">
        <div class="rs-section-title-wrapper section-title-space text-center">
          <span class="rs-section-subtitle">
            <img
              src="assets/images/shape/small-arrow.png"
              alt="image"
            />ทักษะและความเชี่ยวชาญ
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="rs-skill-wrapper">
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay=".3s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img
                  src="assets/images/icon/wordpress-icon-02.png"
                  alt="image"
                />
              </div>
              <h5 class="rs-skill-title">WordPress</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 90%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">90%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay=".5s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 0.5s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/new-php-logo.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">PHP</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 90%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">90%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay=".7s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 0.7s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/sql-server copy.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">SQL</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 90%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">90%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay=".9s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 0.9s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/html-icon-02.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">HTML</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 90%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">90%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="1.1s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/bootstrap-logo.jpg" alt="image" />
              </div>
              <h5 class="rs-skill-title">Bootstrap</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 70%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">70%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="1.3s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/figma-icon-02.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">Figma</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 70%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">70%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="1.6s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/js.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">JAVASCRIPT</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 60%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">60%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="1.9s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/python-icon-01.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">PYTHON</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 60%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">60%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="2.1s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img src="assets/images/icon/social.png" alt="image" />
              </div>
              <h5 class="rs-skill-title">GIT</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 70%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="70"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">70%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rs-skill-item wow fadeInUp"
            data-wow-delay="2.3s"
            data-wow-duration="1s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 1.1s;
              animation-name: fadeInUp;
            "
          >
            <div class="rs-skill-top">
              <div class="rs-skill-icon">
                <img
                  src="assets/images/icon/channels4_profile.jpg"
                  alt="image"
                />
              </div>
              <h5 class="rs-skill-title">POSTMAN</h5>
            </div>
            <div class="rs-skill-bottom">
              <div class="rs-skill-progress">
                <div class="single-progress">
                  <div class="progress">
                    <div
                      class="progress-bar wow fadeInLeft"
                      data-wow-duration="0.8s"
                      data-wow-delay=".3s"
                      role="progressbar"
                      style="
                        width: 90%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: fadeInLeft;
                      "
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                    <span class="progress-number">90%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- skill area end -->
