<!-- text slide area start -->
<div class="rs-text-slide-area rs-text-slide-one has-section-space secondary-bg">
  <div class="container-fluid">
    <div class="rs-text-slide-wrapper wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
      <div class="gsap-marquee right speed-20 move-to-1000 text-gradient-no">
        <span class="rs-text-slide-item">
          · Certifications &amp; Achievements · Golang · Data Engineering · Python · Cloud Essentials · REST API · Full Stack Developer · WordPress · SQL ·
          Certifications &amp; Achievements · Golang · Data Engineering · Python · Cloud Essentials · REST API · Full Stack Developer · WordPress · SQL ·
        </span>
      </div>
    </div>
  </div>
</div>
<!-- text slide area end -->
