<header>
  <div class="rs-header-area header-transparent" id="header-sticky">
    <div class="container">
      <div class="rs-header-inner">
        <div class="rs-header-left">
          <div class="rs-header-logo">
            <a class="logo-white" href="#"
              ><img src="assets/images/logo/logo-white.png" alt="logo"
            /></a>
          </div>
        </div>
        <div class="rs-header-menu">
          <nav id="mobile-menu" class="main-menu">
            <ul class="onepage-menu">
              <li><a href="#">หน้าแรก</a></li>
              <li><a href="#homeabout">เกี่ยวกับฉัน</a></li>
              <!-- <li> <a href="#homeservices">Services</a></li> -->
              <li><a href="#homeportfolio">ผลงาน</a></li>
              <!-- <li><a href="#homeblog">Blog</a> </li> -->
              <li><a href="#homecontact">ติดต่อ</a></li>
            </ul>
          </nav>
        </div>
        <div class="rs-header-right">
          <div class="rs-header-hamburger">
            <div class="sidebar-toggle">
              <a class="bar-icon" href="javascript:void(0)">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
